<a href="https://colab.research.google.com/github/qrafique/Job-Portal-Full-Stack-Web-Application/blob/master/practice22-11-23.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
my_string = "Hello,world"
print(my_string)

Hello,world

In [ ]:
my_string2 = "This is another string"   #string declaration
print(my_string2)

This is another string

In [ ]:
concat_string = my_string+" "+my_string2;               #string concatication
print(concat_string)

Hello,world This is another string

In [ ]:
print(my_string[1])                      #string index

e

In [ ]:
print(my_string[0:5])               #string sliced

Hello

In [ ]:
def reverse_string(string):
  reversed_string = ""
  for i in range(len(string) - 1, -1, -1):
    reversed_string += string[i]
  return reversed_string                               # string rverse function

string = "Hello, World!"
reversed_string = reverse_string(string)
print(reversed_string)

!dlroW ,olleH

In [ ]:
multiline_string = """this is multiline string
stored in python multline string varriable"""
print(multiline_string)                        #multi line string using triple inverted commas   """

this is multiline string
stored in python multline string varriable

In [ ]:
my_paragraph = """ Multiline strings can be useful in a variety
of situations, such as when writing documentation, creating code
snippets, or storing text that is too long to fit on a single line. """
truncated_paragraph = my_paragraph[:40]                              #truncate paragraph 40 characters from start
print(truncated_paragraph)

 Multiline strings can be useful in a variety
of situations, such as when writing documentation, creating code
snippets, or storing text th

In [ ]:
my_paragraph = """ Multiline strings can be useful in a variety
of situations, such as when writing documentation, creating code
snippets, or storing text that is too long to fit on a single line. """
truncated_paragraph = my_paragraph[:-40]                              #truncate paragraph 40 characters from end
print(truncated_paragraph)

 Multiline strings can be useful in a variety
of situations, such as when writing documentation, creating code
snippets, or storing text th

In [ ]:
"hello world".capitalize()                                   # capitalization

'Hello world'

In [ ]:
"hello world".upper()                                # convert to upper letters

'HELLO WORLD'

In [ ]:
"hello world".center(50)                        #Centers the string in a field of the specified width

'                   hello world                    '

In [ ]:
"hello world".count("l")                          #counts the occurace of particular character

3

In [ ]:
"hello world".encode("utf-8")   #encodes using specified encoding

b'hello world'

In [ ]:
"hello world".endswith("world")   #Returns True if the string ends with the specified substring, False otherwise.

True

In [ ]:
"hello\tworld".expandtabs(20)           # Expands all tab characters in the string to spaces.

'hello               world'

In [ ]:
"hello world".find("world")        #return starting index

6

In [ ]:
"hello world".index("world")     # same as find, but raises exception if not found

6

In [ ]:
# Formats the string using the specified format specifiers.
"{0} is a {1}".format("java","programming language")

'java is a programming language'

In [ ]:
#isalnum(): Returns True if the string contains only alphanumeric characters, False otherwise.
"hello123".isalnum()

True

In [ ]:
#isalpha(): Returns True if the string contains only alphabetic characters, False otherwise.
"hello".isalpha()

True

In [ ]:
#isdecimal(): Returns True if the string contains only decimal characters, False otherwise.
"123456".isdecimal()

True

In [ ]:
#isdigit(): Same as isdecimal().
"12345a".isdigit()

False

In [ ]:
#isidentifier(): Returns True if the string is a valid Python identifier, False otherwise.
"my-variable".isidentifier()

False

In [ ]:
"hello".isidentifier()

True

In [ ]:
#islower(): Returns True if all characters in the string are lowercase, False otherwise.
"hello world".islower()
"hello world".isupper()

False

In [ ]:
#isnumeric(): Returns True if the string contains only numeric characters, False otherwise.
"123455".isnumeric()

True

In [ ]:
#isprintable(): Returns True if all characters in the string are printable, False otherwise.
"hello".isprintable()

True

In [ ]:
#isspace(): Returns True if all characters in the string are whitespaces, False otherwise.
" h e l l o w o r l d    ".isspace()

False

In [ ]:
#istitle(): Returns True if the string follows the rules of a title, False otherwise.
"This Is Title".istitle()

True

In [ ]:
"This is title".istitle()

False

In [ ]:
"Hello".join(["this","is", "list","nested"]) #Joins a list of strings into a single string, using the specified separator.

'thisHelloisHellolistHellonested'

**lecture 07**

**introduction:**
you want to display a message on screen, you'll use print statement, but what if we need to print same task 1000times? so using print statement 1000times is tedious task.
here comes the concepts of iterative. we can use loop structure to do repitation. some examples of loops.

In [ ]:
for i in range(10):
  print("welcome to loops")
print("hello pakistan")
print(range(10))

welcome to loops
welcome to loops
welcome to loops
welcome to loops
welcome to loops
welcome to loops
welcome to loops
welcome to loops
welcome to loops
welcome to loops
hello pakistan
range(0, 10)

In [ ]:
fruits = ["apple","mango","cherry","pineApple"]
for item in fruits:
  print(item)

apple
mango
cherry
pineApple

In [ ]:
my_list = {1,24,5,67,86,12,45,12,35,242}
for  i in my_list:
  print(i)

1
67
35
5
12
45
242
86
24

In [ ]:
for x in "qasimrafique rfrfew":
  print(x)

q
a
s
i
m
r
a
f
i
q
u
e

r
f
r
f
e
w

**range() function** returns the start and end range.
e.g range(10) will return a range from 0 to 10. but if we write range(5,10)

In [ ]:
for num in range(5,10):
  print(num)

5
6
7
8
9

In [ ]:
my_list = [2,3,45,67,86,23,12]
for i in range(len(my_list)):
  print(i,my_list[i])

0 2
1 3
2 45
3 67
4 86
5 23
6 12

In [ ]:
my_list = [2,3,45,67,86,23,12]
for i in my_list:
  print(i)

2
3
45
67
86
23
12

In [ ]:
my_dict = {"name":"Qasim", "Id":"12", "profession":"Teaching","pNo":"03461420481"}
for item in my_dict.values():
  print(item)

Qasim
12
Teaching
03461420481

In [ ]:
my_dict = {"name":"Qasim", "Id":"12", "profession":"Teaching","pNo":"03461420481"}
for item in my_dict.keys():
  print(item)

name
Id
profession
pNo

**Python Functions:**


*   a function is block of code, which only runs when
    it is called.
*   we can pass data, known as parameter to function


*   a function can return data as result

*   functions is defined using keyword *def*









> Indented block

In [ ]:
# syntax
def function_name():

In [ ]:
def my_function():     #function definition
  print("Helloworld")
my_function()    #function call

Helloworld

In [ ]:
def add_numbers(a,b):
  sum=a+b
  return sum
sum =add_numbers(4,5)
print("the sum is:",sum)

the sum is: 9

In [ ]:
def my_func(food):
  for x in food:
    print(x)
fruits = ["apple","grapes", "mango","orange"]
my_func(fruits);

apple
grapes
mango
orange

In [ ]:
def greet_person(name = "qasim"):
  print("hello! Mr.",name)

greet_person()
greet_person("ali")

hello! Mr. qasim
hello! Mr. ali

**loops in python**

In [2]:
fruits = ["apple","banana","grapes","oranges","strawberry"]
for items in fruits:
  print(items)

apple
banana
grapes
oranges
strawberry

In [3]:
my_list = [2,3,4,5,67,8]
for i in my_list:
  print(i)

2
3
4
5
67
8

In [6]:
num =[4,5,7,4,3,2,1,3,5]
for i in range(len(num)):
  print(i,num[i])

0 4
1 5
2 7
3 4
4 3
5 2
6 1
7 3
8 5

In [5]:
for char in "banana":
  print(char)

b
a
n
a
n
a

In [9]:
my_dic={"model":"2009","brand":"toyota", "price":"2b","year":"2020"}
for key in my_dic.keys():
  print(key)

model
brand
price
year

In [11]:
my_dic={"model":"2009","brand":"toyota", "price":"2b","year":"2020"}
for value in my_dic.values():
  print(value)

2009
toyota
2b
2020

# New Section

In [13]:
my_list = [1,2,3,4,5,6,7,8,9,10]
for num in my_list:
  if num%2==0:
    print(num,"number is even")

2 number is even
4 number is even
6 number is even
8 number is even
10 number is even

**While loop in python**

In [16]:
i=1
while i<20:
  print(i)
  i+=1;

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

In [33]:
password = ""
while password!="secret":
  password = input("Enter password:")
  if password == str:
    print("access granted!")
  else:
    print("access denied!")

Enter password:qas
access denied!
Enter password:secret
access granted!

In [41]:
#sum numbers to particular range
num=0
total=0
while num<5:
  total=total+num
  num+=1
print(total)

10

**function revisit**

In [42]:
def my_sum(a,b):
  sum = a+b
  return sum
sum=my_sum(2,3)
print(sum)

5

function with default argument

In [44]:
def greet(name="qasim"):
  print("hello!",name)
greet()
greet("Ali")

hello! qasim
hello! Ali

In [45]:
#check even odd number
def check_num(num):
  if num%2==0:
    print(num,"is enven")
  else:
    print(num,"is odd")
check_num(7)

7 is odd

In [51]:
#count characters in string
def count_word(str):
  count = 0
  for i in range(len(str)):
    count+=1
  return count
count_word("qasim")

5

In [52]:
# another method to  count complete word in string
def word_count(str):
  word= str.split()  #count complete word base on space
  return len(word)

word_count("this is my name")

4